#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

h2 {
  font-size: 1.25rem;
  font-weight: normal;
  margin-top: 0;
  color: #888;
}

.timetable {
  border: 2px solid gray;
  border-collapse: collapse;
  min-width: 80%;
  margin: 0 auto;

  td,
  th {
    border: 1px solid gray;
    padding: 0.5em;

    b {
      font-size: 1em;
    }

    &.cancelled {
      color: #888888;
      background-color: #eeeeee;
    }
  }
}

.footer {
  margin-top: 1rem;
  font-size: 1rem;
  color: #888;
}

@media (max-width: 700px) {
  #root {
    padding: 0.5rem;
  }

  .timetable {
    th,
    td {
      padding: 0.1em;
      font-size: 90%;
    }
  }
}

@media (max-width: 500px) {
  #root {
    padding: 0.25rem;
  }

  .timetable {
    th,
    td {
      padding: 2px;
      font-size: 85%;
    }
  }
}
